body{
    max-width: 1100px;
    margin: auto;
}


/*Login and register*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  background: #ffffff;
  max-width: 460px;
  margin: auto;
  margin-top: 100px;
  padding: 45px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 30px;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 90%;
  height: 50px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
}
.form textarea {
  border: 1px solid rgb(206, 206, 206);
  width: 90%;
  max-width: 99%;
  min-width: 90%;
  min-height: 50px;
  margin-bottom: 10px;
  background-color: rgb(242, 242, 242);
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  outline: 0;
  background: #989999;
  width: 50%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 10px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #737474;
}

.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 17px;
}
.form .message a {
  color: #535353;
  text-decoration: none;
}




/*Homepage*/

#homeDiv{
  text-align: center;
}

#slogan{
  height: 100px;
  margin-top: 20px;
}

#logo-market{
  height: 605px;
}




/*Navigation*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em 3em;
  background: #fdfdcb;
  white-space: nowrap;
  height: 70px;
}


nav {
  background-color: #fdfdcb;
  height: 0px;
  margin-bottom: 15px;
  display: inline;
  justify-content: space-between;
  color: aliceblue;
}

nav li {
  font-size: 1.5rem;
  color: #0a0a0a;
  font-weight: 400;
  display: inline-block;
  width: 35%;
}

header li a {
  padding: 0 10px;
  text-decoration: none;
  color: #494;
}

header a:hover {
  color: #2c786c;
}


/*Catalog*/

#market-heading{
  font-weight: 500;
  color: #494;
  font-size: 40px;
}

.product-image {
    float: left;
    width: 20%;
  }
  
  .product-details {
    float: left;
    width: 37%;
  }
  
  .product-price {
    float: left;
    width: 12%;
  }
  
  .product-add {
    float: left;
    width: 9%;
  }
  
  .product-line-price {
    float: left;
    width: 12%;
    text-align: right;
  }


  /* Information page */
  html {
    box-sizing: border-box;
  }
  
  *,*:before, *:after {
    box-sizing: inherit;
  }
  .img {
    width:  540px;
    height: 332px;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 5px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  } 
  
  .about-section {
    padding: 3px;
    text-align: center;
    background-color: #494;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }


  .title {
    color: green;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: green;
  }
  
  
  /* This is used as the traditional .clearfix class */
  .shopping-cart:before, .column-labels:before, .product:before, .shopping-cart:after, .column-labels:after, .product:after {
    content: '';
    display: table;
  }
  
  .shopping-cart:after, .column-labels:after, .product:after {
    clear: both;
  }
  
  .shopping-cart, .column-labels, .product {
    zoom: 1;
  }
  
  /* Apply clearfix in a few places */
  /* Apply dollar signs */
  .product .product-line-price:before {
    content: '$';
  }
  
  /* Body/Header stuff */
  body {
    padding: 0px 30px 30px 20px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
  }
  
  h1 {
    font-weight: 100;
  }
  
  label {
    color: #aaa;
  }
  
  .shopping-cart {
    margin-top: -45px;
  }
  
  /* Column headers */
  .column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  .column-labels .product-image, .column-labels .product-details, .column-labels .product-add {
    text-indent: -9999px;
  }
  
  /* Product entries */
  .product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .product .product-image {
    text-align: center;
  }
  .product .product-image img {
    width: 100px;
  }
  .product .product-details .product-title {
    margin-right: 20px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  }
  .product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
  }
  .product .add-product {
    border: 0;
    padding: 4px 8px;
    background-color: rgb(153, 202, 153);
    color: #fff;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    font-size: 12px;
    border-radius: 3px;
  }
  .product .add-product:hover {
    background-color: green;
  }
  
  /* Totals section */
  
  .checkout {
    float: right;
    border: 0;
    margin-top: 20px;
    margin-left: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
  }
  
  .checkout:hover {
    background-color: #494;
  }

  .clear {
    float: right;
    border: 0;
    margin-top: 20px;
    padding: 6px 25px;
    background-color: #6b6;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
  }
  
  .clear:hover {
    background-color: #494;
  }
  
  /* Make adjustments for tablet */
  @media screen and (max-width: 650px) {
    .shopping-cart {
      margin: 0;
      padding-top: 20px;
      border-top: 1px solid #eee;
    }
  
    .column-labels {
      display: none;
    }
  
    .product-image {
      float: right;
      width: auto;
    }
    .product-image img {
      margin: 0 0 10px 10px;
    }
  
    .product-details {
      float: none;
      margin-bottom: 10px;
      width: auto;
    }
  
    .product-price {
      clear: both;
      width: 70px;
    }
  
    .product-add {
      width: auto;
    }
  
    .product-line-price {
      float: right;
      width: 70px;
    }
  }

  textarea {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    resize: none;
    font-size: 22px;
}

  /* Make more adjustments for phone */
  @media screen and (max-width: 350px) {
    .product-add {
      float: right;
    }
  
    .product-line-price {
      float: right;
      clear: left;
      width: auto;
      margin-top: 10px;
    }
  
    .product .product-line-price:before {
      content: 'Item Total: $';
    }
    
  }
  